@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sen:wght@400..800&family=Special+Gothic&display=swap');
:root{
    --font-main: "Sen", sans-serif;
    --color-base: #000000;
    --color-level1: #181823;
    --color-light-grey: #8491A0;
    --color-dark-grey: #C7E0F4;
    --color-text: #FFFFFF;
    --color-primary: #5221E6;
    --color-green-accent: #3CC74E;
    --color-pink-accent: #E95D90;
    --color-peach-accent: #FFF3E4;
    --color-violet-accent: #FBE4FF;
    --color-blue-accent: #609BFF;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-main);
    font-size: 16px;
}
nav{
    position: fixed;
    z-index: 999;
}
.NavMenu{
    width: 100%;
    height: 5rem;
    display: flex;
    background-color: var(--color-base);
    justify-content: space-between;
    align-items: center;

    &__Left{
        margin-left: 5rem;
    }

    &__Right{
        height: 5rem;
        margin-right: 4rem; 
    }

    &__Links{            
            height: 5rem;
            display: flex;
            list-style: none;  

            a{
                height: 5rem;
                display: flex;
                align-items: center;
                width: 6rem;
                justify-content: center;
                color: var(--color-text);
                text-decoration: none;
                font-weight: 400;
                font-size:1rem;
                transition: 0.4s;
            }

            a:hover{
                background-color: var(--color-primary);
            }
    }

    &__Burger{
        -webkit-tap-highlight-color: transparent;
        height: 2rem;
        width: 2rem;
        border: none;
        background-color: var(--color-base);
        cursor: pointer;
        display: none;
        position: relative;
        z-index: 999;        
    }

    &__OpenButton{
        height: 2rem;
        width: 2rem;
    }

    @media (max-width: 768px) {
        &__Burger{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 1rem;
        }
        
        &__Links{
            display: none;
        }

        &__Left{
            margin-left: 2rem;
        }
    }
}

.HeaderInfo{
    background-color: var(--color-base);
    width: 100%;
    display: flex;
    justify-content: center;

    &__Chief{
        max-width: 1750px;
        display: flex;
        width: 100%;
        padding-top: 8rem;
        padding-bottom: 8rem;
        justify-content: space-between;
        position: relative;
    }

    &__ImgBig{
        object-fit: contain;
        height: 35rem;
        width: auto;
        z-index: 499;
    }

    &__ImgMedium
    {
        display: none;
        z-index: 499;
    }
    
    &__Right{
        right: 3rem;
        height: 35rem;
        position: absolute;
        margin-right: 5rem;
        width: 100%;
        z-index: 500;
        display: flex;
        align-items: end;
        justify-content: center;
        flex-direction: column;

        h1{ 
            letter-spacing: 0.3rem;     
            color:var(--color-text);
            font-size: 4.875rem;
            width: 46rem;
        }

        span{
            letter-spacing: 0.3rem;  
            color: #8c8e8e;
            font-size: 4.875rem;
        }

        p{
            line-height: 1.7rem;
            margin-top: 2rem;
            width: 46rem;
            color: var(--color-light-grey);
            font-size: 1.125rem;
        }
    }

    @media (max-width: 1350px) {        
        &__Right{
            margin-right: 2rem;
            h1{
                width: 25rem;
                font-size: 2.875rem;
            }
            span{
                font-size: 3.5rem;
            }
            p{
                width: 25rem;
            }            
        }
        &__ImgBig{
            display: none;
        }

        &__ImgMedium{
            display: block;
            object-fit: contain;
            height: 35rem;
            width: auto;
            z-index: 499;
        }
    }
}
.ModalBurgerMenu{
    display: none;
    
    &__Button{
        height: 2rem;
        width: 2rem;
        position: fixed;
        top: 1rem;
        right: 1rem;
        z-index: 1007;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background: none;
        cursor: pointer;
    }

    &__ImageClose
    {
        height: 2rem;
        width: 2rem;       
    }

    @media (max-height: 450px) {
        &__Button{
            height: 1.5rem;
            width: 1.5rem;
            top: 0.5rem;
            right: 0.5rem;
        }
        &__ImageClose
        {
                height: 1.5rem;
                width: 1.5rem;       
        }
    }
}
@media (max-width: 768px){
    .HeaderInfo{
        position: static;

        &__Chief{
            display: flex;
            width: 100%;
            padding-top: 2rem;
            padding-bottom: 2rem;
            flex-direction: column;
            position: static;
        }

        &__ImgBig{
            display: block;
            width: 100%;
            height: auto;
        }

        &__ImgMedium{
            display: none;
        }

        &__Right{
                margin-top: 3rem;
                height: auto;
                position: static;
                margin-right: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: start;
                width: 100%;
                h1{ 
                    letter-spacing: 0rem;     
                    color:var(--color-text);
                    font-size: 3rem;
                    width: 90%;
                }

                span{
                    letter-spacing: 0rem;  
                    color: #8c8e8e;
                    font-size: 3rem;
                }

                p{
                    line-height: 1.7rem;
                    margin-top: 2rem;
                    width: 90%;
                    color: var(--color-light-grey);
                    font-size: 1.125rem;
                }
        }
    }
    .ModalBurgerMenu{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1005;
        background-color: #0000009c;

        &__Links{
            background-color: var(--color-level1);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: fixed;
            top: 0;
            right: 0;
            height: 100%;
            width: 50%;
            gap: 10%;
            z-index: 1006;

            a{
                color: var(--color-text);
                text-decoration: none;
                font-size: 1.5rem;
            }

            @media (max-width: 300px) {
                a{
                    font-size: 1rem;
                }
            }
        }
    }

    .ModalBurgerMenu.Active{
        display: block;
    }
}

.WorkExperience{
    padding-bottom: 8rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--color-base);
    align-items: center;

    &__Chief{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        max-width: 1750px;
    }

    &__Up{
        width: 1136px;
        p{
            color: var(--color-light-grey);
            font-weight: 700;
            font-size: 1rem;
        }

        h1{
            color: var(--color-text);
            margin-top: 1rem;
            font-size: 3.5rem;
            font-weight: 700;
            width: 38rem;
            margin-bottom: 1rem;
        }
    }

    &__Down{
        display: flex;
        gap: 7rem;
    }

    &__Card{
        width: 19rem;

        h1{
            font-size: 7.5rem;
            font-weight: 400;
            color: var(--color-light-grey);
        }

        h2{
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 150%;
        }

        span{
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 150%;
        }

        p{
            margin-top: 1rem;
            line-height: 150%;
            color: var(--color-light-grey);
            font-size: 1rem;
            font-weight: 400;
        }
    }

    &__Green{
        color: var(--color-green-accent);
    }

    &__Blue{
        color: var(--color-blue-accent);
    }

    &__Pink{
        color: var(--color-pink-accent);
    }
}
@media (max-width: 1350px) {
    .WorkExperience{
        &__Up{
            width: 640px;
        }

        &__Down{
            display: flex;
            gap: 5rem;
        }

        &__Card{
            width: 10rem;
        }
    }
}

@media (max-width: 768px) {
    .WorkExperience{
        padding-bottom: 3rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__Chief{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 90%;
            max-width: 1750px;
        }

        &__Up{
            width: 100%;

            h1{
                font-size: 2rem;
                margin-top: 1rem;
                width: 100%;
            }
        }

        &__Down{
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 3rem;
        }

        &__Card{
            width: 100%;
            
        }
    }    
}

.LightBlock{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-peach-accent);

    &__Chief{
        width: 100%;
        max-width: 1750px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row: 1fr;
    }

    &__Left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1{
            width: 80%;
            color: var(--color-level1);
            font-size: 3.5rem;
            font-weight: 700;
        }
        
        p{
            margin-top: 3%;
            width: 80%;
            font-size: 1.125rem;
            color: #5B6876;
            font-weight: 400;
        }    
    }

    &__Link{
        width: 80%;
        margin-top: 18%;
        a{        
            font-size: 1rem;
            color: var(--color-level1);
            line-height: 150%;
            font-weight: 400;
            text-decoration: none;
            padding-bottom: 0.3rem;
            position: relative;
        }
        a::after{
            content: "";
            display: flex;
            width: 20%;
            height: 2px;
            background-color: var(--color-light-grey);
            position: absolute;
            left: 40%;        
            transition: all 1s;  
        }
        a:hover::after{
            width: 100%;
            left: 0;
        }
    }

    &__GlassBallBig{
        display: block;
        width: 100%;
    }

    &__GlassBallSmall{
        display: none;
        width: 100%;
    }
}

@media (max-width: 1200px) {
    .LightBlock{

        &__Left{
            max-height: 800px;
        }

        &__Right{
            max-height: 800px;
        }

        &__GlassBallBig{
            display: none;
        }

        &__GlassBallSmall{
            display: block;
            height: 100%;
        }
    }
}

@media (max-width: 768px) {
    .LightBlock{

        &__Chief{
            max-width: 1750px;
            display: grid;
            grid-template-columns: 1fr;
            grid-row: 1fr 1fr;
        }

        &__GlassBallBig{
            display: block;
        }

        &__GlassBallSmall{
            display: none;
        }

        &__Left{     
            h1{
                margin-top: 2rem;
                width: 90%;
                font-size: 2rem;
            }
            
            p{
                margin-top: 2rem;
                width: 90%;
            }              
        }

        &__Link{
            width: 90%;
            margin-bottom: 2rem;
        }

    }
}

@media (max-width: 400px) {
    .LightBlock{
        &__GlassBallBig{
            display: none;
        }

        &__GlassBallSmall{
            display: block;
        }
    }
}

.Skillset{
    width: 100%;
    background-color: var(--color-base);
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    &__Chief{    
        max-width: 1750px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 2fr;
        height: auto;
        padding: 7rem 5rem;
    }

    &__Left{  
        h1{
            color: var(--color-text);
            font-size: 3.5rem;
            font-weight: 700;
        }

        p{
            margin-top: 2rem;
            color: var(--color-light-grey);
            font-size: 1.125rem;
            font-weight: 400;
            line-height: 150%;
            width: 20rem;
        }
    }

    &__Right{  
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        align-items: center;
        row-gap: 3rem;
        column-gap: 5rem;
    }

    &__Card{
        
        img{
            height: 32px;
            width: 32px;
        }

        h1{
            margin-top: 1rem;
            color: var(--color-text);
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 150%;
        }

        p{
            margin-top: 1rem;
            color: var(--color-light-grey);
            font-size: 1rem;
            font-weight: 400;
            line-height: 150%;
            width: 90%;
        }
    }
}
@media (max-width: 1350px) {
    .Skillset{
        &__Chief{
            grid-template-columns: 1fr;
            row-gap: 3rem;
        }

        &__Left{
            p{
                width: 100%;
            }
        }

        &__Right{
            column-gap: 10%;
        }

        &__Card{        

            p{
                width: 90%;
            }
        }
    }
}

@media (max-width: 768px) {
    .Skillset{

        &__Chief{
            padding: 12% 5%;
        }

        &__Left{
            h1{
                font-size: 2rem;
            }
        }

        &__Right{
            grid-template-rows: 1fr 1fr 1fr 1fr;
            grid-template-columns: 1fr;
        }
    }
}

.SkillsetIcons{
    width: 100%;
    background-color: var(--color-base);
    padding-bottom: 7rem;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    &__Chief{
        width: 100%;
        max-width: 1750px;
        justify-items: center;
        align-items: center;
        grid-template-rows: 1fr;
        display: grid;
        grid-template-columns: repeat(6, 1fr);      
    }

    &__Card{  
        border: 1px solid var(--color-level1);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 15% 20%;
    }
}

@media (max-width: 1350px) {
    .SkillsetIcons{
        &__Chief{
            width: 100%;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(3, 1fr);
        }     

        &__Card{
            padding: 10% 20%;
        }
    }
}

@media (max-width: 768px) {
    .SkillsetIcons{
        padding-bottom: 12%;   
    }
}

@media (max-width: 368px) {
    .SkillsetIcons{
        &__Card{
            img{
                height: 1rem;
            }
        }
    }
}

.MyProjects{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-base);

    &__Chief{
        width: 90%;
        max-width: 1750px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        column-gap: 3%;
        margin-bottom: 7rem;
    }

    &__Left{
        display: flex;
        flex-direction: column;
        align-items: center;     
        gap: 2rem;  
    }

    &__Text{
        width: 100%;

        h3{
            color: var(--color-light-grey);
            font-size: 1rem;
            font-weight: 700;
            line-height: 150%;
        }

        h1{
            color: var(--color-text);
            font-size: 3.5rem;
            width: 60%;
            margin-bottom: 2rem;
        }
    }

    &__Right{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

        button{
            background: none;
            outline: none;
            border: 1px solid var(--color-primary);
            padding: 1.5rem 3.5rem;
            cursor: pointer;
            margin-top: 5rem;

            a{ 
                color: var(--color-text);
                font-size: 1.125rem;
                line-height: 150%;
                font-weight: 700;
                text-decoration: none;
            }
        }
    }

    &__Card{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--color-level1);
        width: 100%;

        img{
            width: 100%;
        }
    }

    &__CardText{
        padding: 5%;
        h2{
           width: 100%; 
           color: var(--color-text);
           font-size: 1.5rem;
           line-height: 150%;
           font-weight: 700;
        }

        p{
            margin-top: 1rem;
            width: 100%;
            font-size: 1.125rem;
            line-height: 150%;
            color: var(--color-light-grey);
        }
    }
}

@media (max-width: 1000px) {
    .MyProjects{
        &__Chief{
            grid-template-columns: 1fr;
            width: 80%;
        }
        &__Left{
            margin-bottom: 2rem;
        }
    }
}

@media (max-width: 768px) {
    .MyProjects{
        &__Text{
            h1{
                font-size: 2rem;
            }
        }
    }
}

@media (max-width: 368px) {
    .MyProjects{
        &__Right{
            button{
                padding: 1rem 2rem;
            }
        }
    }
}