@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sen:wght@400..800&family=Special+Gothic&display=swap");
:root {
  --font-main: "Sen", sans-serif;
  --color-base: #000000;
  --color-level1: #181823;
  --color-light-grey: #8491A0;
  --color-dark-grey: #C7E0F4;
  --color-text: #FFFFFF;
  --color-primary: #5221E6;
  --color-green-accent: #3CC74E;
  --color-pink-accent: #E95D90;
  --color-peach-accent: #FFF3E4;
  --color-violet-accent: #FBE4FF;
  --color-blue-accent: #609BFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-main);
  font-size: 16px;
}

nav {
  position: fixed;
  z-index: 999;
}

.NavMenu {
  width: 100%;
  height: 5rem;
  display: flex;
  background-color: var(--color-base);
  justify-content: space-between;
  align-items: center;
}
.NavMenu__Left {
  margin-left: 5rem;
}
.NavMenu__Right {
  height: 5rem;
  margin-right: 4rem;
}
.NavMenu__Links {
  height: 5rem;
  display: flex;
  list-style: none;
}
.NavMenu__Links a {
  height: 5rem;
  display: flex;
  align-items: center;
  width: 6rem;
  justify-content: center;
  color: var(--color-text);
  text-decoration: none;
  font-weight: 400;
  font-size: 1rem;
  transition: 0.4s;
}
.NavMenu__Links a:hover {
  background-color: var(--color-primary);
}
.NavMenu__Burger {
  -webkit-tap-highlight-color: transparent;
  height: 2rem;
  width: 2rem;
  border: none;
  background-color: var(--color-base);
  cursor: pointer;
  display: none;
  position: relative;
  z-index: 999;
}
.NavMenu__OpenButton {
  height: 2rem;
  width: 2rem;
}
@media (max-width: 768px) {
  .NavMenu__Burger {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
  }
  .NavMenu__Links {
    display: none;
  }
  .NavMenu__Left {
    margin-left: 2rem;
  }
}

.HeaderInfo {
  background-color: var(--color-base);
  width: 100%;
  display: flex;
  justify-content: center;
}
.HeaderInfo__Chief {
  max-width: 1750px;
  display: flex;
  width: 100%;
  padding-top: 8rem;
  padding-bottom: 8rem;
  justify-content: space-between;
  position: relative;
}
.HeaderInfo__ImgBig {
  -o-object-fit: contain;
     object-fit: contain;
  height: 35rem;
  width: auto;
  z-index: 499;
}
.HeaderInfo__ImgMedium {
  display: none;
  z-index: 499;
}
.HeaderInfo__Right {
  right: 3rem;
  height: 35rem;
  position: absolute;
  margin-right: 5rem;
  width: 100%;
  z-index: 500;
  display: flex;
  align-items: end;
  justify-content: center;
  flex-direction: column;
}
.HeaderInfo__Right h1 {
  letter-spacing: 0.3rem;
  color: var(--color-text);
  font-size: 4.875rem;
  width: 46rem;
}
.HeaderInfo__Right span {
  letter-spacing: 0.3rem;
  color: #8c8e8e;
  font-size: 4.875rem;
}
.HeaderInfo__Right p {
  line-height: 1.7rem;
  margin-top: 2rem;
  width: 46rem;
  color: var(--color-light-grey);
  font-size: 1.125rem;
}
@media (max-width: 1350px) {
  .HeaderInfo__Right {
    margin-right: 2rem;
  }
  .HeaderInfo__Right h1 {
    width: 25rem;
    font-size: 2.875rem;
  }
  .HeaderInfo__Right span {
    font-size: 3.5rem;
  }
  .HeaderInfo__Right p {
    width: 25rem;
  }
  .HeaderInfo__ImgBig {
    display: none;
  }
  .HeaderInfo__ImgMedium {
    display: block;
    -o-object-fit: contain;
       object-fit: contain;
    height: 35rem;
    width: auto;
    z-index: 499;
  }
}

.ModalBurgerMenu {
  display: none;
}
.ModalBurgerMenu__Button {
  height: 2rem;
  width: 2rem;
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 1007;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  cursor: pointer;
}
.ModalBurgerMenu__ImageClose {
  height: 2rem;
  width: 2rem;
}
@media (max-height: 450px) {
  .ModalBurgerMenu__Button {
    height: 1.5rem;
    width: 1.5rem;
    top: 0.5rem;
    right: 0.5rem;
  }
  .ModalBurgerMenu__ImageClose {
    height: 1.5rem;
    width: 1.5rem;
  }
}

@media (max-width: 768px) {
  .HeaderInfo {
    position: static;
  }
  .HeaderInfo__Chief {
    display: flex;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    flex-direction: column;
    position: static;
  }
  .HeaderInfo__ImgBig {
    display: block;
    width: 100%;
    height: auto;
  }
  .HeaderInfo__ImgMedium {
    display: none;
  }
  .HeaderInfo__Right {
    margin-top: 3rem;
    height: auto;
    position: static;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
  }
  .HeaderInfo__Right h1 {
    letter-spacing: 0rem;
    color: var(--color-text);
    font-size: 3rem;
    width: 90%;
  }
  .HeaderInfo__Right span {
    letter-spacing: 0rem;
    color: #8c8e8e;
    font-size: 3rem;
  }
  .HeaderInfo__Right p {
    line-height: 1.7rem;
    margin-top: 2rem;
    width: 90%;
    color: var(--color-light-grey);
    font-size: 1.125rem;
  }
  .ModalBurgerMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1005;
    background-color: rgba(0, 0, 0, 0.6117647059);
  }
  .ModalBurgerMenu__Links {
    background-color: var(--color-level1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    gap: 10%;
    z-index: 1006;
  }
  .ModalBurgerMenu__Links a {
    color: var(--color-text);
    text-decoration: none;
    font-size: 1.5rem;
  }
}
@media (max-width: 768px) and (max-width: 300px) {
  .ModalBurgerMenu__Links a {
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  .ModalBurgerMenu.Active {
    display: block;
  }
}
.WorkExperience {
  padding-bottom: 8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-base);
  align-items: center;
}
.WorkExperience__Chief {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 1750px;
}
.WorkExperience__Up {
  width: 1136px;
}
.WorkExperience__Up p {
  color: var(--color-light-grey);
  font-weight: 700;
  font-size: 1rem;
}
.WorkExperience__Up h1 {
  color: var(--color-text);
  margin-top: 1rem;
  font-size: 3.5rem;
  font-weight: 700;
  width: 38rem;
  margin-bottom: 1rem;
}
.WorkExperience__Down {
  display: flex;
  gap: 7rem;
}
.WorkExperience__Card {
  width: 19rem;
}
.WorkExperience__Card h1 {
  font-size: 7.5rem;
  font-weight: 400;
  color: var(--color-light-grey);
}
.WorkExperience__Card h2 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 150%;
}
.WorkExperience__Card span {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 150%;
}
.WorkExperience__Card p {
  margin-top: 1rem;
  line-height: 150%;
  color: var(--color-light-grey);
  font-size: 1rem;
  font-weight: 400;
}
.WorkExperience__Green {
  color: var(--color-green-accent);
}
.WorkExperience__Blue {
  color: var(--color-blue-accent);
}
.WorkExperience__Pink {
  color: var(--color-pink-accent);
}

@media (max-width: 1350px) {
  .WorkExperience__Up {
    width: 640px;
  }
  .WorkExperience__Down {
    display: flex;
    gap: 5rem;
  }
  .WorkExperience__Card {
    width: 10rem;
  }
}
@media (max-width: 768px) {
  .WorkExperience {
    padding-bottom: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .WorkExperience__Chief {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 1750px;
  }
  .WorkExperience__Up {
    width: 100%;
  }
  .WorkExperience__Up h1 {
    font-size: 2rem;
    margin-top: 1rem;
    width: 100%;
  }
  .WorkExperience__Down {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 3rem;
  }
  .WorkExperience__Card {
    width: 100%;
  }
}
.BGLight {
  background-color: var(--color-peach-accent);
}

.BGViolet {
  background-color: var(--color-violet-accent);
}

.LightBlock {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.LightBlock__Chief {
  width: 100%;
  max-width: 1750px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: 1fr;
}
.LightBlock__Left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.LightBlock__Left h1 {
  width: 80%;
  color: var(--color-level1);
  font-size: 3.5rem;
  font-weight: 700;
}
.LightBlock__Left p {
  margin-top: 3%;
  width: 80%;
  font-size: 1.125rem;
  color: #5B6876;
  font-weight: 400;
}
.LightBlock__Link {
  width: 80%;
  margin-top: 18%;
}
.LightBlock__Link a {
  font-size: 1rem;
  color: var(--color-level1);
  line-height: 150%;
  font-weight: 400;
  text-decoration: none;
  padding-bottom: 0.3rem;
  position: relative;
}
.LightBlock__Link a::after {
  content: "";
  display: flex;
  width: 20%;
  height: 2px;
  background-color: var(--color-light-grey);
  position: absolute;
  left: 40%;
  transition: all 1s;
}
.LightBlock__Link a:hover::after {
  width: 100%;
  left: 0;
}
.LightBlock__GlassBallBig {
  display: block;
  width: 100%;
}
.LightBlock__GlassBallSmall {
  display: none;
  width: 100%;
}

@media (max-width: 1200px) {
  .LightBlock__Left {
    max-height: 800px;
  }
  .LightBlock__Right {
    max-height: 800px;
  }
  .LightBlock__GlassBallBig {
    display: none;
  }
  .LightBlock__GlassBallSmall {
    display: block;
    height: 100%;
  }
}
@media (max-width: 768px) {
  .LightBlock__Chief {
    max-width: 1750px;
    display: grid;
    grid-template-columns: 1fr;
    grid-row: 1fr 1fr;
  }
  .LightBlock__GlassBallBig {
    display: block;
  }
  .LightBlock__GlassBallSmall {
    display: none;
  }
  .LightBlock__Left h1 {
    margin-top: 2rem;
    width: 90%;
    font-size: 2rem;
  }
  .LightBlock__Left p {
    margin-top: 2rem;
    width: 90%;
  }
  .LightBlock__Link {
    width: 90%;
    margin-bottom: 2rem;
  }
}
@media (max-width: 400px) {
  .LightBlock__GlassBallBig {
    display: none;
  }
  .LightBlock__GlassBallSmall {
    display: block;
  }
}
.Skillset {
  width: 100%;
  background-color: var(--color-base);
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Skillset__Chief {
  max-width: 1750px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: auto;
  padding: 7rem 5rem;
}
.Skillset__Left h1 {
  color: var(--color-text);
  font-size: 3.5rem;
  font-weight: 700;
}
.Skillset__Left p {
  margin-top: 2rem;
  color: var(--color-light-grey);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 150%;
  width: 20rem;
}
.Skillset__Right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
  row-gap: 3rem;
  -moz-column-gap: 5rem;
       column-gap: 5rem;
}
.Skillset__Card img {
  height: 32px;
  width: 32px;
}
.Skillset__Card h1 {
  margin-top: 1rem;
  color: var(--color-text);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 150%;
}
.Skillset__Card p {
  margin-top: 1rem;
  color: var(--color-light-grey);
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
  width: 90%;
}

@media (max-width: 1350px) {
  .Skillset__Chief {
    grid-template-columns: 1fr;
    row-gap: 3rem;
  }
  .Skillset__Left p {
    width: 100%;
  }
  .Skillset__Right {
    -moz-column-gap: 10%;
         column-gap: 10%;
  }
  .Skillset__Card p {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .Skillset__Chief {
    padding: 12% 5%;
  }
  .Skillset__Left h1 {
    font-size: 2rem;
  }
  .Skillset__Right {
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
  }
}
.SkillsetIcons {
  width: 100%;
  background-color: var(--color-base);
  padding-bottom: 7rem;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.SkillsetIcons__Chief {
  width: 100%;
  max-width: 1750px;
  justify-items: center;
  align-items: center;
  grid-template-rows: 1fr;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.SkillsetIcons__Card {
  border: 1px solid var(--color-level1);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 15% 20%;
}

@media (max-width: 1350px) {
  .SkillsetIcons__Chief {
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
  .SkillsetIcons__Card {
    padding: 10% 20%;
  }
}
@media (max-width: 768px) {
  .SkillsetIcons {
    padding-bottom: 12%;
  }
}
@media (max-width: 368px) {
  .SkillsetIcons__Card img {
    height: 1rem;
  }
}
.MyProjects {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-base);
}
.MyProjects__Chief {
  width: 90%;
  max-width: 1750px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  -moz-column-gap: 3%;
       column-gap: 3%;
  margin-bottom: 7rem;
}
.MyProjects__Left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.MyProjects__Text {
  width: 100%;
}
.MyProjects__Text h3 {
  color: var(--color-light-grey);
  font-size: 1rem;
  font-weight: 700;
  line-height: 150%;
}
.MyProjects__Text h1 {
  color: var(--color-text);
  font-size: 3.5rem;
  width: 60%;
  margin-bottom: 2rem;
}
.MyProjects__Right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.MyProjects__Right button {
  background: none;
  outline: none;
  border: 1px solid var(--color-primary);
  padding: 1.5rem 3.5rem;
  cursor: pointer;
  margin-top: 5rem;
}
.MyProjects__Right button a {
  color: var(--color-text);
  font-size: 1.125rem;
  line-height: 150%;
  font-weight: 700;
  text-decoration: none;
}
.MyProjects__Card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-level1);
  width: 100%;
}
.MyProjects__Card img {
  width: 100%;
}
.MyProjects__CardText {
  padding: 5%;
}
.MyProjects__CardText h2 {
  width: 100%;
  color: var(--color-text);
  font-size: 1.5rem;
  line-height: 150%;
  font-weight: 700;
}
.MyProjects__CardText p {
  margin-top: 1rem;
  width: 100%;
  font-size: 1.125rem;
  line-height: 150%;
  color: var(--color-light-grey);
}

@media (max-width: 1000px) {
  .MyProjects__Chief {
    grid-template-columns: 1fr;
    width: 80%;
  }
  .MyProjects__Left {
    margin-bottom: 2rem;
  }
}
@media (max-width: 768px) {
  .MyProjects__Text h1 {
    font-size: 2rem;
  }
}
@media (max-width: 368px) {
  .MyProjects__Right button {
    padding: 1rem 2rem;
  }
}
.Dribbble {
  width: 100%;
  background-color: var(--color-base);
  display: flex;
  justify-content: center;
}
.Dribbble__Chief {
  width: 80%;
  max-width: 1750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 7rem 0rem 7rem 0rem;
}
.Dribbble__Up {
  width: 100%;
}
.Dribbble__Up h1 {
  color: var(--color-text);
  font-size: 3.5rem;
  font-weight: 700;
}
.Dribbble__Up P {
  margin-top: 1rem;
  color: var(--color-light-grey);
  font-size: 1.125rem;
  width: 45%;
}
.Dribbble__Link {
  margin-top: 3rem;
}
.Dribbble__Link a {
  color: var(--color-text);
  font-size: 1rem;
  line-height: 150%;
  font-weight: 400;
  text-decoration: none;
  position: relative;
}
.Dribbble__Link a::after {
  content: "";
  position: absolute;
  display: flex;
  height: 2px;
  width: 20%;
  left: 40%;
  background-color: var(--color-light-grey);
  transition: 1s;
}
.Dribbble__Link a:hover::after {
  width: 100%;
  left: 0;
}
.Dribbble__Down {
  margin-top: 7rem;
  width: 100%;
}
.Dribbble__ImgBig {
  display: block;
  width: 100%;
}
.Dribbble__ImgSmall {
  display: none;
  width: 100%;
}

@media (max-width: 1350px) {
  .Dribbble__Up p {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .Dribbble__Down {
    margin-top: 20%;
  }
}
@media (max-width: 368px) {
  .Dribbble__Up h1 {
    font-size: 2.5rem;
  }
  .Dribbble__ImgBig {
    display: none;
  }
  .Dribbble__ImgSmall {
    display: block;
  }
}/*# sourceMappingURL=Main.css.map */